{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}

{% block content %}
    <h1 class="mb-4">User Profile</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Username: {{ user.username }}</h5>
            <p class="card-text">First Name: {{ user.first_name }}</p>
            <p class="card-text">Last Name: {{ user.last_name }}</p>
            <p class="card-text">Email: {{ user.email }}</p>
            <p class="card-text">Address: {{ user.userprofile.address }}</p>
            <a href="{% url 'order_history' %}" class="btn btn-primary">View Order History</a>
            <a href="{% url 'profile_edit' %}" class="btn btn-secondary">Edit Profile</a>
        </div>
    </div>
{% endblock %}